<h1>
  Edit housing like #<%= @housing_like.id %>
</h1>

<hr>

<!-- Form housing_like start -->
<form action="/update_housing_like/<%= @housing_like.id %>" method="post">
<!-- Form housing_like end -->

  <!-- Label and input for sublessee_id start -->
  <div class="form-group">
    <label for="sublessee_id">
      Sublessee
    </label>

    <!-- Input for sublessee_id start -->
    <%= select_tag(:sublessee_id, options_from_collection_for_select(User.all, :id, :email, @housing_like.sublessee_id), :class => "form-control") %>
    <!-- Input for sublessee_id end -->
  </div>
  <!-- Label and input for sublessee_id end -->

  <!-- Label and input for housing_id start -->
  <div class="form-group">
    <label for="housing_id">
      Housing
    </label>

    <!-- Input for housing_id start -->
    <%= select_tag(:housing_id, options_from_collection_for_select(HousingListing.all, :id, :housing_type, @housing_like.housing_id), :class => "form-control") %>
    <!-- Input for housing_id end -->
  </div>
  <!-- Label and input for housing_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update housing like
  </button>
</form>

<hr>

<a href="/housing_likes">
  Go back
</a>
