<h1>
  Add a new housing like
</h1>


<hr>

<form action="/create_housing_like" method="post">

  <input type="hidden" name="sublessee_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="housing_id">
      Housing
    </label>

    <%= select_tag(:housing_id, options_from_collection_for_select(HousingListing.all, :id, :housing_type, @housing_like.housing_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create housing like
  </button>
</form>

<hr>

<a href="/housing_likes">
  Go back
</a>
