<form action="/create_housing_like_from_housing_listing" method="post">

  <input type="hidden" name="sublessee_id" value="<%= current_user.id %>">

  <input type="hidden" name="housing_id" value="<%= @housing_listing.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create housing like
  </button>
</form>
