<!-- Form housing_like start -->
<form action="/create_housing_like_from_housing_listing" method="post">
<!-- Form housing_like end -->

  <!-- Label and input for sublessee_id start -->
  <!-- Input for "sublessee_id" start -->
  <input type="hidden" name="sublessee_id" value="<%= current_user.id %>">
  <!-- Input for "sublessee_id" end -->
  <!-- Label and input for sublessee_id end -->

  <!-- Label and input for housing_id start -->
  <!-- Input for housing_id start -->
  <input type="hidden" name="housing_id" value="<%= @housing_listing.id %>">
  <!-- Input for housing_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create housing like
  </button>
</form>
