<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Inquiries

    <a data-toggle="collapse" href="#housing_listing_inquiries_new_form">
      Add inquiry
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @housing_listing.inquiries.each do |inquiry| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/inquiries/<%= inquiry.id %>">
          <%= inquiry.sublessee_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_inquiry_from_housing/<%= inquiry.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="housing_listing_inquiries_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "housing_listing_templates/housing_listing_inquiries_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
