<form action="/create_inquiry_from_housing_listing" method="post">

  <div class="form-group">
    <label for="sublessee_id">
      Sublessee
    </label>

    <%= select_tag(:sublessee_id, options_from_collection_for_select(User.all, :id, :email, @inquiry.sublessee_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="sublessor_id">
      Sublessor
    </label>

    <input type="text" id="sublessor_id" name="sublessor_id" class="form-control" value="<%= @inquiry.sublessor_id %>">
  </div>

  <input type="hidden" name="housing_id" value="<%= @housing_listing.id %>">

  <div class="form-group">
    <label for="inquiry_details">
      Inquiry details
    </label>

    <input type="text" id="inquiry_details" name="inquiry_details" class="form-control" value="<%= @inquiry.inquiry_details %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create inquiry
  </button>
</form>
