<h1>
  Add a new housing listing
</h1>


<hr>

<form action="/create_housing_listing" method="post">

  <div class="form-group">
    <label for="housing_type">
      Housing type
    </label>

    <input type="text" id="housing_type" name="housing_type" class="form-control">
  </div>

  <div class="form-group">
    <label for="city">
      City
    </label>

    <input type="text" id="city" name="city" class="form-control">
  </div>

  <div class="form-group">
    <label for="neighborhood">
      Neighborhood
    </label>

    <input type="text" id="neighborhood" name="neighborhood" class="form-control">
  </div>

  <div class="form-group">
    <label for="number_of_guests">
      Number of guests
    </label>

    <input type="text" id="number_of_guests" name="number_of_guests" class="form-control">
  </div>

  <div class="form-group">
    <label for="number_of_bedrooms">
      Number of bedrooms
    </label>

    <input type="text" id="number_of_bedrooms" name="number_of_bedrooms" class="form-control">
  </div>

  <div class="form-group">
    <label for="number_of_bathrooms">
      Number of bathrooms
    </label>

    <input type="text" id="number_of_bathrooms" name="number_of_bathrooms" class="form-control">
  </div>

  <div class="form-group">
    <label for="state">
      State
    </label>

    <input type="text" id="state" name="state" class="form-control">
  </div>

  <div class="form-group">
    <label for="country">
      Country
    </label>

    <input type="text" id="country" name="country" class="form-control">
  </div>

  <div class="form-group">
    <label for="amenities">
      Amenities
    </label>

    <input type="text" id="amenities" name="amenities" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control">
  </div>

  <div class="form-group">
    <label for="monthly_price">
      Monthly price
    </label>

    <input type="text" id="monthly_price" name="monthly_price" class="form-control">
  </div>

  <input type="hidden" name="sublessor_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="available_from">
      Available from
    </label>

    <input type="text" id="available_from" name="available_from" class="form-control">
  </div>

  <div class="form-group">
    <label for="available_till">
      Available till
    </label>

    <input type="text" id="available_till" name="available_till" class="form-control">
  </div>

  <div class="form-group">
    <label for="housing_photo_id">
      Housing photo
    </label>

    <input type="text" id="housing_photo_id" name="housing_photo_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="sublessee_id">
      Sublessee
    </label>

    <input type="text" id="sublessee_id" name="sublessee_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="zip_code">
      Zip code
    </label>

    <input type="text" id="zip_code" name="zip_code" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create housing listing
  </button>
</form>

<hr>

<a href="/housing_listings">
  Go back
</a>
