<h1>
  Add a new housing photo
</h1>


<hr>

<form action="/create_housing_photo" method="post">

  <div class="form-group">
    <label for="photo_caption">
      Photo caption
    </label>

    <input type="text" id="photo_caption" name="photo_caption" class="form-control">
  </div>

  <input type="hidden" name="photo_owner_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="housing_id">
      Housing
    </label>

    <%= select_tag(:housing_id, options_from_collection_for_select(HousingListing.all, :id, :housing_type, @housing_photo.housing_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create housing photo
  </button>
</form>

<hr>

<a href="/housing_photos">
  Go back
</a>
